@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 10px 0;
}
h1.title {
  text-align: center;
  color: #222;
  padding: 20px 0;
}
